<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
	<style>
		h1 {
			color: #1b2418;
			text-align: center;
		}
		p {
			color: #FFF;
			text-align: center;
		}
		body {
			background-color: #7aa16c;
		}
	</style>
	<meta charset="ISO-8859-1">
	<title>PlantPlaces.com</title>
</head>
<body>
	<center><img src="https://i.pinimg.com/originals/11/0a/72/110a72618f53330a28afd4d4e9335016.jpg" alt="Plants Header"></center>
	<h1>Welcome to PlantPlaces!</h1>
	<br/>
	<p th:text="${specimenDTO}"/>
</body>
</html>